<div class="row">
  <ng-container *ngFor="let product of products$ | async; let i = index">
    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <div class="card-img-container">
          <img class="card-img-top" [src]="product.imageUrl">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.price | currency:'USD':true }}</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
  </ng-container>
</div>